@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
  }
  input,
  select {
    height: 36px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    padding-left: 10px;
    color: white;
  }
  .btn-primary {
    --bs-btn-bg: hidden;
    --bs-btn-border-color: #ffb800;
    --bs-btn-hover-bg: #ffb800;
    --bs-btn-hover-border-color: #ffb800;
    @media screen and (max-width: 950px) {
      margin-top: 49px;
    }
    @media screen and (max-width: 495px) {
      width: 250px;
      height: 200px;
    }
  }
  .dark-bg {
    background-color: #1b1e22;
  }
  .show {
    border: 1px solid white;
    border-radius: 4px;
  }
  .header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1250px) {
      width: 85%;
    }
  }
  .main__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1250px) {
      width: 85%;
    }
  }
  .footer__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1250px) {
      width: 85%;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
}

%displ-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%displ-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
