@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
  }
  input,
  select {
    height: 36px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    padding-left: 10px;
    color: white;
  }
  .header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .main__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

%displ-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%displ-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
