@import "./template";
@import "./vars";

header {
  height: 900px;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.03) 2.5%,
      rgba(27, 30, 34, 0.4) 42.42%,
      #1b1e22 80.67%
    ),
    url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  .header__navigation {
    padding-top: 5vh;
    max-width: 1145px;
    @extend %displ-flex-space-between;
    .header__logo-and-language {
      @extend %displ-flex-space-between;
      gap: 2vw;
      .header__language {
        padding-top: 1.2vh;
        ul {
          @extend %displ-flex-space-between;

          gap: 1vw;
          .header__language-item {
            a {
              font-size: 13px;
              font-weight: 500;
              line-height: 16px;
            }
          }
          .item-en {
            a {
              color: $gray;
            }
          }
          .item-ru {
            a {
              color: $white;
            }
          }
        }
      }
    }
    .header__nav {
      padding-top: 1.2vh;
      ul {
        @extend %displ-flex-space-between;
        gap: 0.5vw;
        li {
          width: 120px;
          height: 48px;
          @extend %displ-flex-center;
          a {
            color: $white;
          }
          &:hover {
            border: 1px solid $yellow;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .header__main-screen {
    margin-top: 9vh;
    @extend %displ-flex-space-between;
    flex-wrap: wrap;
    .header__item-main-screen {
      flex-basis: 47%;
      h1 {
        color: $white;
        font-size: 48px;
        font-weight: 500;
        line-height: 58px;
      }
      p {
        margin-top: 3vh;
        color: $white;
        font-size: 20px;
        font-weight: 400;
        line-height: 38px;
      }
    }
    .header__item-main-screen-form {
      flex-basis: 47%;
      border-radius: 10px;
      background: rgba(51, 51, 51, 0.25);
      box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(12px);
      display: flex;
      flex-direction: column;
      padding: 50px 70px;
      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: $white;
      }
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .form__div {
          display: flex;
          gap: 20px;
          margin: 20px 0;
          input {
            flex-basis: 48%;
          }
          select {
            flex-basis: 48%;
          }
        }
      }
      button {
        height: 36px;
        background-color: #ffb800;
        border-radius: 4px;
        border: none;
        margin-top: 22px;
      }
    }
    .header__why-we {
      flex-basis: 100%;
      margin-top: 9vh;
      h2 {
        text-align: center;
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        color: $white;
      }
      .why-we__items {
        @extend %displ-flex-space-between;
        margin-top: 3.5vh;
        .why-we__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            margin-top: 2vh;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: $white;
            text-align: center;
          }
        }
      }
    }
  }
}

.main {
  background-color: $black;
  .main__wrapper {
    .main__directions {
      .main__directions-heading {
        margin-top: 5vh;
        margin-bottom: 3vh;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      .main__directions-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2vw;
        .main__directions-item {
          transition: 0.5s;
          width: 362px;
          height: 433px;
          background-color: $black-item;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .directions__item-bg {
            background-position: center;
            height: 217px;
            display: flex;
            align-items: flex-end;
            padding-bottom: 25px;
            border-radius: 4px 4px 0 0;
            .directions__item-price {
              background-color: $yellow;
              padding: 8px 2px 8px 8px;
            }
            .directions__item-date {
              background: rgba(51, 51, 51, 0.25);
              box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
              backdrop-filter: blur(12px);
              border-radius: 0 4px 4px 0;
              padding: 8px 6px 8px 8px;
              color: $white;
            }
          }
          .item1 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/Rectangle1.png");
          }
          .item2 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/Rectangle2.png");
          }
          .item3 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/Rectangle3.png");
          }
          .item4 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/Rectangle4.png");
          }
          .item5 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/Rectangle5.jpeg");
          }
          .item6 {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("../img/Rectangle6.png");
          }
          &:hover {
            background-color: #ded7d77a;
            .item1 {
              background-image: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../img/Rectangle1.png");
            }
            .item2 {
              background-image: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../img/Rectangle2.png");
            }
            .item3 {
              background-image: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../img/Rectangle3.png");
            }
            .item4 {
              background-image: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../img/Rectangle4.png");
            }
            .item5 {
              background-image: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../img/Rectangle5.jpeg");
            }
            .item6 {
              background-image: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../img/Rectangle6.png");
            }
          }
        }
      }
      .directions__item-content {
        padding: 16px 21px 24px 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        h3 {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          color: $white;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: $white;
        }
        a {
          color: $white;
          opacity: 0.5;
        }
      }
      .main__directions-view-all {
        transition: 0.5s;
        margin: 5vh 0 8vh 0;
        border: 1px solid $yellow;
        border-radius: 4px;
        background: transparent;
        padding: 10px 25px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: $white;
        &:hover {
          background: $yellow;
        }
      }
    }
  }
  .main__our-data {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6vh 0 7vh 0;

    .main__our-data-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      .our-data__container {
        @extend %displ-flex-space-between;
        .our-data__container-item {
          @extend %displ-flex-center;
          flex-direction: column;
          .container-item__number {
            font-size: 78px;
            font-weight: 500;
            line-height: 58px;
            color: $yellow;
          }
          .container-item__text {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: $white;
            margin-top: 23px;
          }
        }
      }
    }
  }
  .main__our-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    .main__our-blog-heading {
      margin-top: 62px;
      margin-bottom: 40px;
    }
    .main__our-blog-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .our-blog-content-item-1 {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("../img/blog1.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 48%;
        border-radius: 4px;
        transition: 0.5s;
        &:hover {
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          url("../img/blog1.png");

        }
        h3 {
          font-size: 34px;
          font-weight: 500;
          line-height: 38px;
          color: $white;
          text-align: center;
          margin-top: 51px;
          margin-bottom: 28px;
        }
        p {
          text-align: center;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          color: $white;
          margin-bottom: 285px;
        }
      }
      .our-blog-content-item-2,
      .our-blog-content-item-3 {
        flex-basis: 23%;
        display: flex;
        flex-direction: column;
        .our-blog-content-item-img-container {
          height: 225px;
        }
        .img-container1 {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url("../img/blog2.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 4px 4px 0 0;
          transition: 0.5s;

        }
        .img-container2 {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url("../img/blog3.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 4px 4px 0 0;
          transition: 0.5s;

        }

        .content-item-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;
          background-color: $black-item;
          height: 268px;
          border-radius: 0 0 4px 4px;
          transition: 0.5s;

          h4 {
            margin-bottom: 14px;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: $white;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $white;
          }
          .our-blog-content-item-footer {
            margin-top: 25px;
            @extend %displ-flex-space-between;
            .our-blog-content-item-footer-date {
              color: rgba(255, 255, 255, 0.5);
              font-size: 14px;
            }
            .our-blog-content-item-footer-comments-likes {
              @extend %displ-flex-space-between;
              width: 90px;
              .comments {
                color: rgba(255, 255, 255, 0.5);
                font-size: 14px;
                img {
                  margin-right: 3px;
                }
              }
              .likes {
                color: rgba(255, 255, 255, 0.5);
                font-size: 14px;
                img {
                  margin-right: 3px;
                }
              }
            }
          }
        }
        &:hover {
          .content-item-wrapper {
            background-color: #ded7d77a;  
          }
          .img-container1 {
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.1)
            ),
            url("../img/blog2.png");
          }
          .img-container2 {
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.1)
            ),
            url("../img/blog3.png");
          }

        }
      }
    }
    .main__our-blog-view-all {
      margin-top: 50px;
      margin-bottom: 62px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      padding: 10px 25px;
      border: 1px solid #ffb800;
      border-radius: 4px;
      transition: 0.5s;
      background: transparent;
      color: $white;
      &:hover {
        background-color: $yellow;
      }
    }
  }
  .main__customer-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .main__customer-reviews-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      img {
        margin: 5vh 0 3vh 0;
      }
      p {
        position: relative;
        z-index: 3;
        color: $white;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
      }
      .main__customer-reviews-content-city {
        color: $yellow;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 6px;
      }
    }
    .main__customer-reviews-footer {
      margin-top: 3vh;
    }
    .main__customer-reviews-bg {
      position: absolute;
      z-index: 1;
      bottom: 80px;
    }
  }
}
footer {
  background-color: $black;
  .footer__wrapper {
    @extend %displ-flex-space-between;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1145px;
    padding-top: 60px;
    .footer__wrapper-item {
      display: flex;
    }
    .item-socials,
    .footer__wrapper-item-tel-col {
      flex-direction: column;
    }
    .item-email {
      flex-wrap: wrap;
    }
    .item-color {
      color: $yellow;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 20px;
    }
    .item-color-white {
      color: $white;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      margin-left: 27px;
      margin-bottom: 20px;
    }
    .footer__wrapper-item-social {
      display: flex;
      gap: 20px;
    }
  }
}
